*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.bg-img{
    background: linear-gradient(#020024 0%, #c237dc 87%,#c3178b 100%);
    background-size: cover;
    background-position: center;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 400px;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content header {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    
}
.form-group {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.form-group input {
    flex: 1;
    background: rgba(255, 255, 255, 0.94);
    border: none;
    outline: none;
    color: #080808;
    font-size: 16px;
    border-radius: 30px;
    padding: 12px 20px;
    margin-right: 10px;
    
    
}
input[type="submit"] {
    background: purple;
    border: none;
    color: #0f0e0e;
    font-weight:500;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 6px;
    cursor: pointer;
    border-radius: 30px;
    padding: 1px 30px;
    
 
}

input[type="submit"]:hover {
    background: linear-gradient(to left, #0000ff 0%, #6666ff 100%);
}
.signin {
    color: #fff;
    font-size: 15px;
    
}

.signin a {
    color: #1b1f1b;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}
.form-group i{
   
    font-size: 30px;
    margin-right: 10px; 
}

